* {
  font-family: monospace, "Microsoft JhengHei";
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f8f6ec;
}

body {
  width: 1600px;
}

#container #mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f8f6ec;
  z-index: 6;
  -webkit-animation: startMaskAnime 1s ease 0s 1 normal both;
          animation: startMaskAnime 1s ease 0s 1 normal both;
}

@-webkit-keyframes startMaskAnime {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes startMaskAnime {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#container .aside {
  position: fixed;
  width: 20%;
  min-width: 200px;
  max-width: 300px;
  min-height: 600px;
  height: 100%;
  background-color: #f8f6ec;
  -webkit-box-shadow: 5px 0 10px #d4d3c9;
          box-shadow: 5px 0 10px #d4d3c9;
  z-index: 5;
}

#container .aside .main-info .main-info-title h2 {
  font-size: 40px;
  text-align: center;
  color: #333;
  font-weight: normal;
}

#container .aside .main-info .main-info-content .info-item {
  margin-bottom: 20px;
}

#container .aside .main-info .main-info-content .info-item .info-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .aside .main-info .main-info-content .info-item .info-item-content .info-item-icon .material-icons {
  font-size: 36px;
  color: #333;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#container .aside .main-info .main-info-content .info-item .info-item-content .info-item-name h3 {
  font-size: 30px;
  color: #333;
  margin: 0;
}

#container .aside .main-info .main-info-content .info-item .info-item-value p {
  font-size: 30px;
  color: #65adaf;
  margin: 5px 0 5px 36px;
}

#container .aside .main-info .main-info-content .info-item .info-item-value .red {
  color: #ee6d81;
}

#container .aside .main-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#container .aside .main-nav .list-group {
  padding: 0;
}

#container .aside .main-nav .list-group .list-item {
  list-style: none;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

#container .aside .main-nav .list-group .list-item a {
  color: #333;
  font-size: 30px;
  letter-spacing: 0.5em;
  text-decoration: none;
}

#container .aside .main-nav .list-group .list-item:hover a {
  color: #65adaf;
}

#container .workstation {
  position: relative;
  width: 80%;
  z-index: 1;
  display: none;
  opacity: 0;
}

#container .workstation.start {
  display: block;
  -webkit-animation: startAnime 0.3s ease 0s 1 normal both;
          animation: startAnime 0.3s ease 0s 1 normal both;
}

@-webkit-keyframes startAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes startAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#container .workstation .card-group {
  position: absolute;
  left: 25%;
}

#container .workstation .card-group .card-item {
  width: 500px;
  height: 70px;
  background-color: #fff;
  margin-left: 30px;
  -webkit-box-shadow: 2px 2px 5px #666;
          box-shadow: 2px 2px 5px #666;
  -webkit-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
}

#container .workstation .card-group .card-item:hover {
  -webkit-box-shadow: 2px 2px 5px #333;
          box-shadow: 2px 2px 5px #333;
  height: 150px;
}

#container .workstation .card-group .card-item .card-item-bar {
  width: 100%;
  height: 5px;
  background-color: #65adaf;
}

#container .workstation .card-group .card-item .card-item-bar.redbar {
  background-color: #ee6d81;
}

#container .workstation .card-group .card-item .card-item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  border-bottom: 1px solid #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container .workstation .card-group .card-item .card-item-top .card-item-type {
  width: 15%;
  text-align: center;
}

#container .workstation .card-group .card-item .card-item-top .card-item-type .main-type {
  margin: 0;
  color: #333;
  font-size: 20px;
}

#container .workstation .card-group .card-item .card-item-top .card-item-type .son-type {
  margin: 0;
  color: #666;
  font-size: 14px;
}

#container .workstation .card-group .card-item .card-item-top .card-item-title {
  width: 50%;
  font-size: 20px;
  margin: 0;
  color: #333;
  text-align: center;
}

#container .workstation .card-group .card-item .card-item-top .card-item-date {
  width: 20%;
  text-align: left;
  color: #333;
}

#container .workstation .card-group .card-item .card-item-top .card-item-date .date {
  margin: 0;
  font-size: 16px;
}

#container .workstation .card-group .card-item .card-item-top .card-item-date .time {
  margin: 0;
  font-size: 12px;
}

#container .workstation .card-group .card-item .card-item-top .card-item-price {
  width: 15%;
  text-align: center;
  margin: 0;
}

#container .workstation .card-group .card-item .card-item-description {
  height: calc(100% - 65px);
  overflow: hidden;
}

#container .workstation .card-group .card-item .card-item-description .text {
  padding: 5px;
  margin: 0;
  font-size: 16px;
  line-height: 1.65em;
  letter-spacing: 0.1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container .workstation .new-card {
  position: fixed;
  top: 5vh;
  left: 50vw;
  width: 600px;
  height: 800px;
  -webkit-box-shadow: 0 0 15px #666;
          box-shadow: 0 0 15px #666;
  z-index: 2;
  background-color: #fff;
  display: none;
}

#container .workstation .new-card .new-card-mask {
  display: none;
  position: absolute;
  width: 600px;
  height: 800px;
  background-color: transparent;
  z-index: 4;
}

#container .workstation .new-card.new-card-open {
  display: block;
  -webkit-animation: new-card-open-anime 0.3s ease 0s 1 normal both;
          animation: new-card-open-anime 0.3s ease 0s 1 normal both;
}

@-webkit-keyframes new-card-open-anime {
  0% {
    opacity: 0;
    left: -5vw;
  }
  100% {
    opacity: 1;
  }
}

@keyframes new-card-open-anime {
  0% {
    opacity: 0;
    left: -5vw;
  }
  100% {
    opacity: 1;
  }
}

#container .workstation .new-card .new-card-bar {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 5px;
  -webkit-transition: background-color 0.3s 0s ease;
  transition: background-color 0.3s 0s ease;
}

#container .workstation .new-card .new-card-bar.bar-green {
  background-color: #65adaf;
}

#container .workstation .new-card .new-card-bar.bar-red {
  background-color: #ee6d81;
}

#container .workstation .new-card .new-card-date {
  height: 10%;
}

#container .workstation .new-card .new-card-date h3 {
  margin-top: 0;
  padding-top: 20px;
}

#container .workstation .new-card .new-card-date .datetime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container .workstation .new-card .new-card-date .datetime input {
  margin: 0 30px;
}

#container .workstation .new-card .new-card-title {
  height: 8%;
}

#container .workstation .new-card h3 {
  color: #333;
  margin: 20px 5% 0;
  font-size: 24px;
  letter-spacing: 0.1em;
}

#container .workstation .new-card .new-card-type {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container .workstation .new-card .new-card-type .main-type {
  position: relative;
  width: 50%;
  margin: 0 15px;
}

#container .workstation .new-card .new-card-type .main-type button {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #65adaf;
  color: #fff;
  font-size: 30px;
  padding: 0;
  line-height: 0.9em;
  cursor: pointer;
  outline: none;
}

#container .workstation .new-card .new-card-type .main-type button:hover {
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
}

#container .workstation .new-card .new-card-type .main-type .select-main-type {
  position: relative;
  height: 40px;
  width: 90%;
  padding: 5px 3px;
  border-bottom: 1px solid #eee;
  margin: auto;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container .workstation .new-card .new-card-type .main-type .select-main-type .select-item {
  font-size: 22px;
  margin: 0;
  text-align: center;
}

#container .workstation .new-card .new-card-type .main-type .select-main-type .main-type-group {
  display: none;
  position: absolute;
  left: 5%;
  top: 100%;
  width: 90%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
  overflow-y: auto;
  z-index: 5;
}

#container .workstation .new-card .new-card-type .main-type .select-main-type .main-type-group.type-group-open {
  display: block;
}

#container .workstation .new-card .new-card-type .main-type .select-main-type .main-type-group.scrollbarOpen {
  height: 200px;
}

#container .workstation .new-card .new-card-type .main-type .select-main-type .main-type-group .main-type-list {
  text-align: center;
  line-height: 2.5em;
  letter-spacing: 0.1em;
}

#container .workstation .new-card .new-card-type .main-type .select-main-type .main-type-group .main-type-list:hover {
  background-color: #eee;
}

#container .workstation .new-card .new-card-type .son-type {
  width: 50%;
  margin: 0 15px;
}

#container .workstation .new-card .new-card-type .son-type .select-son-type {
  position: relative;
  height: 40px;
  width: 90%;
  padding: 5px 3px;
  border-bottom: 1px solid #eee;
  margin: auto;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container .workstation .new-card .new-card-type .son-type .select-son-type .select-item {
  font-size: 22px;
  margin: 0;
  text-align: center;
}

#container .workstation .new-card .new-card-type .son-type .select-son-type .son-type-group {
  display: none;
  position: absolute;
  left: 5%;
  top: 100%;
  width: 90%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
  overflow-y: auto;
  z-index: 5;
}

#container .workstation .new-card .new-card-type .son-type .select-son-type .son-type-group.type-group-open {
  display: block;
}

#container .workstation .new-card .new-card-type .son-type .select-son-type .son-type-group.scrollbarOpen {
  height: 200px;
}

#container .workstation .new-card .new-card-type .son-type .select-son-type .son-type-group .son-type-list {
  text-align: center;
  line-height: 2.5em;
  letter-spacing: 0.1em;
}

#container .workstation .new-card .new-card-type .son-type .select-son-type .son-type-group .son-type-list:hover {
  background-color: #eee;
}

#container .workstation .new-card .new-card-method {
  height: 8%;
}

#container .workstation .new-card .new-card-method .select-card-method {
  position: relative;
  height: 40px;
  width: 90%;
  padding: 5px 3px;
  border-bottom: 1px solid #eee;
  margin: auto;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container .workstation .new-card .new-card-method .select-card-method .select-item {
  font-size: 22px;
  margin: 0;
  text-align: center;
}

#container .workstation .new-card .new-card-method .select-card-method .main-method-group {
  display: none;
  position: absolute;
  left: 5%;
  top: 100%;
  width: 90%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
  overflow-y: auto;
  z-index: 5;
}

#container .workstation .new-card .new-card-method .select-card-method .main-method-group.method-group-open {
  display: block;
}

#container .workstation .new-card .new-card-method .select-card-method .main-method-group.scrollbarOpen {
  height: 200px;
}

#container .workstation .new-card .new-card-method .select-card-method .main-method-group .main-method-list {
  text-align: center;
  line-height: 2.5em;
  letter-spacing: 0.1em;
}

#container .workstation .new-card .new-card-method .select-card-method .main-method-group .main-method-list:hover {
  background-color: #eee;
}

#container .workstation .new-card .new-card-price {
  height: 10%;
}

#container .workstation .new-card input {
  display: block;
  width: 90%;
  height: 40px;
  padding: 5px 3px;
  border: none;
  border-bottom: 1px solid #eee;
  margin: auto;
  outline: none;
  font-size: 16px;
  color: #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container .workstation .new-card .new-card-content {
  height: 30%;
}

#container .workstation .new-card .new-card-content textarea {
  display: block;
  width: 90%;
  height: calc(100% - 52px);
  padding: 5px;
  margin: 5px auto;
  font-size: 16px;
  color: #333;
  border: 1px solid #eee;
  line-height: 1.7em;
  resize: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container .workstation .new-card .new-card-control {
  height: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .workstation .new-card .new-card-control .control-right .removeButton {
  background-color: #ee6d81;
}

#container .workstation .new-card .new-card-control button {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#container .workstation .new-card .new-card-control button:nth-child(odd) {
  background-color: #65adaf;
}

#container .workstation .new-card .new-card-control button:nth-child(even) {
  background-color: #ee6d81;
}

#container .workstation .new-card .new-card-control button:hover {
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
}

#container .workstation .new-card .new-card-control button .material-icons {
  color: #eee;
  vertical-align: middle;
}

#container .workstation .setting-type-card {
  position: fixed;
  top: 5vh;
  left: 50vw;
  width: 600px;
  height: 800px;
  -webkit-box-shadow: 0 0 15px #666;
          box-shadow: 0 0 15px #666;
  z-index: 2;
  background-color: #fff;
  display: none;
}

#container .workstation .setting-type-card.type-card-open {
  display: block;
  -webkit-animation: new-card-open-anime 0.3s ease 0s 1 normal both;
          animation: new-card-open-anime 0.3s ease 0s 1 normal both;
}

@keyframes new-card-open-anime {
  0% {
    opacity: 0;
    left: -5vw;
  }
  100% {
    opacity: 1;
  }
}

#container .workstation .setting-type-card .type-group {
  position: relative;
  width: 90%;
  margin: auto;
}

#container .workstation .setting-type-card .type-group h3 {
  font-size: 30px;
  color: #333;
  margin: 0;
}

#container .workstation .setting-type-card .type-group .addType {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #65adaf;
  color: #fff;
  font-size: 20px;
  padding: 0;
  line-height: 1.1em;
  cursor: pointer;
  outline: none;
}

#container .workstation .setting-type-card .type-group .addType:hover {
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
}

#container .workstation .setting-type-card .type-group:nth-child(1) .addType {
  top: 20px;
  left: 70px;
}

#container .workstation .setting-type-card .type-group:nth-child(2) .addType {
  top: 20px;
  left: 100px;
}

#container .workstation .setting-type-card .type-group:nth-child(3) .addType {
  top: 20px;
  left: 70px;
}

#container .workstation .setting-type-card .type-group .removeType {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #ee6d81;
  color: #fff;
  font-size: 20px;
  padding: 0;
  line-height: 1.1em;
  cursor: pointer;
  outline: none;
}

#container .workstation .setting-type-card .type-group:nth-child(1) .removeType {
  top: 20px;
  left: 100px;
}

#container .workstation .setting-type-card .type-group:nth-child(2) .removeType {
  top: 20px;
  left: 130px;
}

#container .workstation .setting-type-card .type-group:nth-child(3) .removeType {
  top: 20px;
  left: 100px;
}

#container .workstation .setting-type-card .type-group .type-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  -webkit-box-shadow: 0 0 3px #d4d3c9;
          box-shadow: 0 0 3px #d4d3c9;
  overflow-y: scroll;
}

#container .workstation .setting-type-card .type-group .type-item .item {
  font-size: 26px;
  color: #333;
  padding-left: 1em;
  border: none;
  border-bottom: 1px solid #f8f6ec;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container .workstation .setting-type-card .setting-type-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 80px;
  margin: auto;
}

#container .workstation .setting-type-card .setting-type-control button {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#container .workstation .setting-type-card .setting-type-control button:nth-child(odd) {
  background-color: #65adaf;
}

#container .workstation .setting-type-card .setting-type-control button:nth-child(even) {
  background-color: #ee6d81;
}

#container .workstation .setting-type-card .setting-type-control button:hover {
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
}

#container .workstation .setting-type-card .setting-type-control button .material-icons {
  color: #eee;
  vertical-align: middle;
}

#container .workstation .addButton button {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
  font-size: 30px;
  background-color: #65adaf;
  color: #eee;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
}

#container .workstation .addButton button:hover {
  background-color: #ee6d81;
}

#container .workstation .filterdateButton {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 20px;
  right: 30%;
}

#container .workstation .filterdateButton .display {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
  font-size: 30px;
  background-color: #65adaf;
  color: #eee;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#container .workstation .filterdateButton .display p {
  margin: 0;
  text-align: center;
  line-height: 1.7em;
}

#container .workstation .filterdateButton button {
  margin: 0 10px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
  font-size: 30px;
  background-color: #65adaf;
  color: #eee;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-filter 0.1s 0s ease;
  transition: -webkit-filter 0.1s 0s ease;
  transition: filter 0.1s 0s ease;
  transition: filter 0.1s 0s ease, -webkit-filter 0.1s 0s ease;
}

#container .workstation .filterdateButton button:hover {
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
}

#container .workstation .filterdateButton button .material-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .workstation-statistics {
  position: relative;
  width: 90%;
  margin-left: 20%;
  z-index: 1;
  display: none;
  opacity: 0;
}

#container .workstation-statistics.start {
  display: block;
  -webkit-animation: startAnime .5s ease 0s 1 normal both;
          animation: startAnime .5s ease 0s 1 normal both;
}

@keyframes startAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#container .workstation-statistics .statistics-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .workstation-statistics .statistics-group .statistics-table {
  color: #333;
  font-size: 30px;
  margin: 0;
  width: 60%;
  margin-left: 3vw;
}

#container .workstation-statistics .statistics-group .statisticsView-container {
  position: relative;
  width: 40%;
}

#container .workstation-statistics .filterdateButton {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 20px;
  right: 30%;
}

#container .workstation-statistics .filterdateButton .display {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
  font-size: 30px;
  background-color: #65adaf;
  color: #eee;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#container .workstation-statistics .filterdateButton .display p {
  margin: 0;
  text-align: center;
  line-height: 1.7em;
}

#container .workstation-statistics .filterdateButton button {
  margin: 0 10px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
  font-size: 30px;
  background-color: #65adaf;
  color: #eee;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-filter 0.1s 0s ease;
  transition: -webkit-filter 0.1s 0s ease;
  transition: filter 0.1s 0s ease;
  transition: filter 0.1s 0s ease, -webkit-filter 0.1s 0s ease;
}

#container .workstation-statistics .filterdateButton button:hover {
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
}

#container .workstation-statistics .filterdateButton button .material-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .workstation-about {
  position: relative;
  width: 100%;
  margin-left: 20%;
  height: 100vh;
  z-index: 1;
  display: none;
  opacity: 0;
}

#container .workstation-about.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: startAnime .5s ease 0s 1 normal both;
          animation: startAnime .5s ease 0s 1 normal both;
}

@keyframes startAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#container .workstation-about h3 {
  font-size: 30px;
  color: #333;
  font-weight: normal;
}

#container .workstation-about .author-title {
  font-size: 40px;
}

#container .workstation-about .website {
  margin-top: 5%;
}

#container .workstation-about .website a {
  text-decoration: none;
  font-size: 30px;
  color: #65adaf;
  -webkit-transition: all .2s 0s ease;
  transition: all .2s 0s ease;
}

#container .workstation-about .website a:hover {
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
}
/*# sourceMappingURL=financial-management.css.map */