<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oxeenn0 - 前端作品集</title>
  <meta name="description" content="個人前端實驗作品存放區，不定期更新。">
  <meta name="robots" content="follow,index">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://oxeenn0.com/images/avatar.png">
  <link rel="stylesheet" href="styles/oxeenn.css">
  <link rel="icon" href="images/oxeenn0TitleIcon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet">
  <link rel="manifest" href="manifest.json">

  <meta name="msapplication-TileImage" content="/images/icons/icon-144x144.png">
  <meta name="msapplication-TileColor" content="#4d90fe">
  <meta name="msapplication-navbutton-color" content="#4d90fe">
  
  <meta name="theme-color" content="#4d90fe">

  <meta name="mobile-web-app-capable" content="yes">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="oxeenn0">

  <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png">
</head>

<body>
  <div id="container">

    <!-- <div id="mask"></div> -->

    <header id="header">
      <div class="LOGO">Oxeenn<span>0</span></div>
      <div class="menu">
        <ul class="menu-group">
          <li class="menu-item">
            <p id="gofooter">聯繫</p>
          </li>
        </ul>
      </div>
    </header>

    <main id="main">
      <section id="works" :class="[moreWorksAnime ? 'more-works-anime' : '', moreWork ? 'more-works' : '']">
        <div class="works-group" v-for="works in worksDatadisplay" :key="works.id">
          <div class="works-item">
            <div class="img-mask">
              <p class="img-mask-text">網站示圖</p>
            </div>
            <a :href="works.url" target="_blank">
              <img :src="works.img" alt="網頁作品">
            </a>
            <div class="works-content">
              <div class="works-title">{{works.title}}</div>
              <div class="works-description">{{works.description}}</div>
            </div>
          </div>
          <div class="works-tag-group">
            <button class="works-tag-item" v-for="(tag, index) in works.tag" :key="index" v-on:click="{tagSearch(tag), clickTagOffImgMask()}"
              :disabled="disabled">{{tag}}</button>
          </div>
        </div>

      </section>
      <div class="morebutton-section">
        <button class="morebutton" v-on:click="clearMoreWorkAnime(false)"
          :disabled="disabled">{{moreButtonName}}</button>
      </div>
    </main>

    <footer id="footer">
      <div class="contact">
        <h2>聯絡我</h2>
        <div class="link-group">
          <div class="link-item"><a id="email" href="mailto:ouxiufeng@outlook.com"><span
                class="material-icons">email</span></a></div>
          <div class="link-item"><a id="github" href="https://github.com/ouxiufeng/oxeenn0-Gallery" target="_blank"><img
                id="github-icon" src="images/github.svg" alt="github"></a></div>
        </div>
        <p></p>
      </div>
    </footer>

    <div id="goheader"><img src="images/gotopIcon.svg" alt="gotopIcon"></div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="main.js"></script>
  <script src="intersectionObserver.js"></script>
</body>

</html>