* {
  font-family: monospace, "Microsoft JhengHei";
}

body {
  -ms-overflow-style: none;
  margin: 0;
  width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
}

#container {
  position: relative;
  overflow-y: hidden;
  // height: 1600px;
  #bgc-item-group {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    .bgc-item {
      position: absolute;
      user-select: none;
      opacity: 0;

      .material-icons {
        color: #eee;
      }

      &:nth-child(1) {
        left: 3%;
        top: 90%;
        animation: bgcItemAnimeRise 40s linear 0s infinite normal none,
          bgcItemAnimeRotate 30s linear 0s infinite normal none;

        .material-icons {
          font-size: 12px;
        }
      }
      &:nth-child(2) {
        left: 15%;
        top: 70%;
        animation: bgcItemAnimeRise 25s linear 0s infinite normal none,
          bgcItemAnimeRotate 30s linear 0s infinite reverse none;

        .material-icons {
          font-size: 24px;
        }
      }
      &:nth-child(3) {
        left: 70%;
        top: 60%;
        animation: bgcItemAnimeRise 30s linear 0s infinite normal none,
          bgcItemAnimeRotate 30s linear 0s infinite normal none;

        .material-icons {
          font-size: 16px;
        }
      }
      &:nth-child(4) {
        left: 85%;
        top: 80%;
        animation: bgcItemAnimeRise 25s linear 0s infinite normal none,
          bgcItemAnimeRotate 30s linear 0s infinite normal none;

        .material-icons {
          font-size: 24px;
        }
      }
      &:nth-child(5) {
        left: 22%;
        top: 200%;
        animation: bgcItemAnimeRise 30s linear 5s infinite normal none,
          bgcItemAnimeRotate 30s linear 0s infinite normal none;

        .material-icons {
          font-size: 18px;
        }
      }

      &:nth-child(6) {
        left: 92%;
        top: 160%;
        animation: bgcItemAnimeRise 40s linear 10s infinite normal none,
          bgcItemAnimeRotate 40s linear 0s infinite reverse none;

        .material-icons {
          font-size: 14px;
        }
      }

      &:nth-child(7) {
        left: 13%;
        top: 142%;
        animation: bgcItemAnimeRise 35s linear 4s infinite normal none,
          bgcItemAnimeRotate 35s linear 0s infinite reverse none;

        .material-icons {
          font-size: 14px;
        }
      }

      &:nth-child(8) {
        left: 73%;
        top: 173%;
        animation: bgcItemAnimeRise 35s linear 2s infinite normal none,
          bgcItemAnimeRotate 35s linear 0s infinite normal none;

        .material-icons {
          font-size: 16px;
        }
      }
    }
  }

  #header {
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 3;
    transition: all 0.3s 0s ease;

    &.close {
      height: 0px;
    }

    #mask {
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 100vh;
      z-index: 3;
      animation: startAnimeFade 4s ease 0s 1 normal both;

      #mask-title {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        letter-spacing: 0.2em;
        transition: all 1s 0.6s ease;

        span {
          animation: startAnimeMaskTitle 0.6s ease 0.3s 1 normal both;
        }

        &.close {
          opacity: 0;
          top: 55%;
        }
      }
    }

    #menu {
      position: relative;
      width: 100%;
      height: 100px;
      border: 3px #777;
      backdrop-filter: blur(1px);
      border-bottom-style: double;
      // z-index: 1;

      &.open-menu {
        animation: openMenuAnime 1s ease 0s 1 normal both;
      }

      &.close-menu {
        animation: closeMenuAnime 1s ease 0s 1 normal both;
      }

      #list {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        padding: 0;

        a {
          position: relative;
          height: 30px;
          .list-item {
            font-size: 22px;
            letter-spacing: 0.2em;
            color: #555;
            list-style: none;
            transition: opacity 0.25s 0s ease;
            .letter {
              display: inline-block;
            }

            &.close-menu-text {
              opacity: 0;
            }
          }

          .hover-block1 {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            height: 50%;
            border: 1px double #555;
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: all 0.3s 0s ease;
          }

          &:hover .hover-block1 {
            width: 100%;
            height: 100%;
            padding: 10px;
            opacity: 1;
          }

          .hover-block2 {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            border: 1px dashed #555;
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: all 0.3s 0.15s ease;
          }

          &:hover .hover-block2 {
            padding: 20px;
            opacity: 1;
          }
        }
      }
    }

    #logo-border {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
      top: calc(60% - 25px);
      left: 50%;
      border: 3px double #777;
      transform: translateX(-50%) rotateZ(45deg);
      box-shadow: 0 0 20px #777;
      background-color: #fff;
      // z-index: 2;
      transition: all 0.5s 0.2s ease;

      &.close-logo-border {
        opacity: 0;
        transform: translate(100%, -100%);
      }
    }

    #logo {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      top: 60px;
      left: 50%;
      border: 1px dashed #777;
      transform-style: preserve-3d;
      transform: translateX(-50%) rotate3d(1, 1, 1, 0deg);
      opacity: 1;
      animation: startAnimeLogoBorder 4s ease 0s 1 normal none, logoAnime 10s linear 4s infinite normal both;
      z-index: 3;

      &.close-menu-move-logo {
        animation: logoAnime 10s linear 4s infinite normal both, closeMenuMoveLogo 1s ease 0s 1 normal both;
      }

      &.open-menu-move-logo {
        animation: logoAnime 10s linear 4s infinite normal both, openMenuMoveLogo 1s ease 0s 1 normal both;
      }

      .side {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: 1px solid #555;
      }

      .logoForward {
        transform-origin: center;
        transform: translateZ(27.5px);
      }
      .logoBack {
        transform-origin: center;
        transform: translateZ(-24.5px) rotateY(180deg);
      }
      .logoLeft {
        transform-origin: left top;
        transform: translateZ(27.5px) rotateY(90deg);
      }
      .logoRight {
        transform-origin: right top;
        transform: translateZ(27.5px) rotateY(-90deg);
      }
      .logoBottom {
        transform-origin: center bottom;
        transform: translateZ(27.5px) rotateX(90deg);
      }
      .logoTop {
        transform-origin: center top;
        transform: translateZ(27.5px) rotateX(-90deg);
      }
    }
  }

  #main {
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding-top: 100vh;
    padding-bottom: 20vh;
    z-index: 2;

    #cubeshop-introduction {
      display: flex;
      // display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 600px;
      padding-bottom: 10vh;
      opacity: 0;
      transition: all 0.5s 0s ease;

      &.open {
        opacity: 1;
      }

      .introduction-title {
        font-size: 46px;
        font-weight: normal;
        color: #555;

        .letter {
          display: inline-block;
        }
      }

      .introduction-content {
        font-size: 36px;
        font-weight: normal;
        color: #555;

        .letter {
          display: inline-block;
        }
      }
    }

    #more-cube {
      // display: none;
      position: relative;
      display: flex;
      opacity: 0;
      padding-bottom: 10vh;
      transition: all 0.5s 0s ease;

      &.open {
        opacity: 1;
      }

      #left-panel {
        width: 60%;

        canvas {
          width: 100%;
          height: 100%;
          display: block;
        }
      }

      #right-panel {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 40%;
        .main-content {
          font-size: 36px;
          color: #555;
          text-align: center;
          margin: 0;
          font-weight: normal;

          .letter {
            display: inline-block;
          }
        }
        a {
          position: absolute;
          bottom: 25%;
          left: 40%;
          .goto-commoditylist {
            color: #555;
            font-size: 24px;
            font-weight: bold;

            .letter {
              display: inline-block;
            }
          }

          .hover-block1 {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            height: 50%;
            border: 1px double #555;
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: all 0.3s 0s ease;
          }

          &:hover .hover-block1 {
            width: 100%;
            height: 100%;
            padding: 10px;
            opacity: 1;
          }

          .hover-block2 {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            border: 1px dashed #555;
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: all 0.3s 0.15s ease;
          }

          &:hover .hover-block2 {
            padding: 20px;
            opacity: 1;
          }
        }
      }
    }

    #commoditylist {
      display: none;
      .row {
        display: flex;
        justify-content: center;
        .commodity {
          margin: 30px 20px;
          width: 200px;
          height: 300px;
          border: 3px double #777;
          box-shadow: 0 0 15px #777;
          box-sizing: border-box;
          transition: transform 0.2s 0s ease;
          opacity: 0;

          &:hover {
            transform: scale(1.05) !important;
          }

          .commodity-show {
            position: relative;
            height: 75%;
            border-bottom: 1px solid #777;
            box-sizing: border-box;

            canvas {
              width: 100%;
              height: 100%;
            }

            .commodity-buy {
              position: absolute;
              top: 3px;
              right: 3px;
              width: 50px;
              height: 50px;
              background-color: transparent;
              border: none;
              border: 1px dashed #777;
              box-shadow: 0 0 5px #777;
              outline: none;
              cursor: pointer;

              &:active {
                box-shadow: inset 0 0 5px #777;
              }

              .material-icons {
                color: #555;
                font-size: 20px;
                vertical-align: middle;
                transition: all 0.2s 0s ease;
              }

              &:hover .material-icons {
                color: #ff778c;
                transform: scale(1.2);
              }
            }
          }

          .commodity-name {
            color: #555;
            font-size: 26px;
            height: 15%;
            line-height: 1.7em;
            text-align: center;
          }

          .commodity-price {
            color: #555;
            font-size: 20px;
            height: 10%;
            line-height: 1.5em;
            text-align: center;
          }
        }
      }
    }

    #checkout {
      position: relative;
      width: 60%;
      height: 80vh;
      margin: 0 auto;
      border: 3px double #777;
      box-shadow: 0 0 15px #777;
      backdrop-filter: blur(3px);
      opacity: 0;
      display: none;
      overflow: hidden;

      &.buy-done {
        display: block;
        animation: buyDoneAnime 0.5s ease 0s 1 normal none;
      }

      &.open {
        display: block;
        animation: openCheckoutAnime 1s ease 0s 1 normal both;
      }

      #bottom-panel {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
      }

      #button-group {
        display: flex;
        align-items: center;
        width: 130px;
        button {
          width: 50px;
          height: 50px;
          padding: 0;
          margin-left: 10px;
          border: 1px dashed #777;
          box-shadow: 0 0 5px #777;
          background-color: transparent;
          outline: none;
          user-select: none;
          cursor: pointer;

          &:active {
            box-shadow: inset 0 0 5px #777;
          }

          &:hover .material-icons {
            color: #ff778c;
          }

          .material-icons {
            color: #555;
            font-size: 40px;
            vertical-align: middle;
          }
        }
      }

      #total-price {
        display: flex;
        align-items: center;
        width: calc(80% - 130px);
        font-size: 30px;
        .title {
          height: 50px;
          // padding-left: 150px;
          line-height: 2em;
        }
        .price {
          height: 50px;
          line-height: 2.1em;
          user-select: none;
        }
      }

      #buy-button {
        width: 20%;
        height: 50px;
        padding: 0;
        margin-right: 10px;
        font-size: 25px;
        color: #555;
        border: 1px dashed #777;
        box-shadow: 0 0 5px #777;
        background-color: transparent;
        outline: none;
        user-select: none;
        cursor: pointer;

        &:active {
          box-shadow: inset 0 0 5px #777;
        }

        &:hover {
          color: #ff778c;
        }
      }

      .colname {
        display: flex;
        align-items: center;
        height: 50px;
        font-size: 30px;
        font-weight: bold;
        color: #555;
        border-bottom: 1px solid #777;
        text-align: center;
        .col-name {
          width: 60%;
        }
        .col-price {
          width: 20%;
        }
        .col-num {
          width: 20%;
        }
      }

      .item {
        display: flex;
        align-items: center;
        height: 50px;
        font-size: 30px;
        color: #555;
        border-bottom: 1px dashed #777;
        text-align: center;

        .item-name {
          width: 60%;
        }
        .item-price {
          width: 20%;
        }
        .item-num {
          width: 20%;
        }
      }
    }

    #buy-success {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 60px;
      color: #555;
      opacity: 0;
      display: none;

      &.open {
        opacity: 1;
        display: block;
      }

      .letter {
        display: inline-block;
      }
    }

    #shopping-cart {
      position: fixed;
      bottom: 10px;
      left: 10px;
      border: 1px dashed #777;
      padding: 4px;
      display: none;
      cursor: pointer;
      transition: all 0.3s 0s ease;

      &:hover .material-icons {
        color: #ff778c;
      }

      .material-icons {
        font-size: 40px;
        color: #555;
        user-select: none;
        vertical-align: middle;

        &.buy-anime {
          animation: buyCommodityAnime 0.3s ease 0s 1 normal none;
        }
      }

      #buy-counter {
        position: absolute;
        bottom: -1px;
        left: 49px;
        height: 20px;
        padding: 0 10px;
        color: #ff778c;
        border: 1px dashed #777;
        box-sizing: border-box;
        text-align: center;
      }
    }

    #about {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 60%;
      height: 600px;
      margin: 0 auto;
      border: 3px double #777;
      box-shadow: 0 0 15px #777;
      backdrop-filter: blur(3px);
      color: #555;
      z-index: 2;
      opacity: 0;

      &.open {
        display: flex;
        animation: openAboutAnime 1s ease 0s 1 normal both;
      }

      #about-title {
        font-size: 50px;
      }
      h3 {
        font-size: 40px;
        font-weight: normal;
      }

      #goto-mainpage {
        position: relative;
        a {
          position: relative;
          text-decoration: none;
          color: #555;
          z-index: 2;
        }

        &:hover {
          color: #ff778c;
        }
        .hover-block1 {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 50%;
          height: 50%;
          border: 1px double #555;
          opacity: 0;
          transform: translate(-50%, -50%);
          transition: all 0.3s 0s ease;
        }

        &:hover .hover-block1 {
          width: 100%;
          height: 100%;
          padding: 10px;
          opacity: 1;
        }

        .hover-block2 {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          border: 1px dashed #555;
          opacity: 0;
          transform: translate(-50%, -50%);
          transition: all 0.3s 0.15s ease;
        }

        &:hover .hover-block2 {
          padding: 20px;
          opacity: 1;
        }
      }

      button {
        width: 50px;
        height: 50px;
        padding: 0;
        border: 1px dashed #777;
        box-shadow: 0 0 5px #777;
        background-color: transparent;
        outline: none;
        user-select: none;
        cursor: pointer;

        &:active {
          box-shadow: inset 0 0 5px #777;
        }

        &:hover .material-icons {
          color: #ff778c;
        }

        .material-icons {
          color: #555;
          font-size: 40px;
          vertical-align: middle;
        }
      }
    }
  }

  #sign {
    position: fixed;
    bottom: 3vh;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: #777;
    transform: translate(-50%, -50%) rotateZ(45deg);
    border-right: double #ddd;
    border-bottom: double #ddd;
    border-width: 3px;
    animation: signAnime 6s ease 0s infinite normal none;
    opacity: 0;
    transition: all 0.5s 0.3s ease;

    &.open-sign {
      opacity: 1;
    }

    .left-mask {
      position: absolute;
      left: -83%;
      width: 100%;
      height: 100%;
      border-radius: 50% 200%;
      transform: rotateZ(45deg);
      background-color: #fff;
    }

    .right-mask {
      position: absolute;
      top: -83%;
      width: 100%;
      height: 100%;
      border-radius: 50% 200%;
      transform: rotateZ(-45deg);
      background-color: #fff;
    }

    &::before {
      content: "";
      width: 7px;
      height: 7px;
      background-color: #777;
      position: absolute;
      top: -11px;
      left: -11px;
    }
  }
}

@media screen and (max-width: 800px) {
  #container {
    #header {
      #menu {
        height: 300px;
        &.open-menu {
          animation: openMenuAnimeW800 1s ease 0s 1 normal both !important;
        }

        &.close-menu {
          animation: closeMenuAnimeW800 1s ease 0s 1 normal both !important;
        }

        #list {
          align-items: flex-end;
        }
      }
    }

    .hover-block1,
    .hover-block2 {
      display: none;
    }

    #more-cube {
      flex-direction: column;
      #left-panel {
        width: 100% !important;
        canvas {
          width: auto !important;
          margin: 0 auto;
        }
      }
      #right-panel {
        width: 100% !important;
        flex-direction: column;
        a {
          position: relative !important;
          top: 0 !important;
          left: 0 !important;
        }
      }
    }

    #commoditylist {
      width: 90%;
      margin: 0 auto;
      .row {
        flex-direction: column;
        .commodity {
          margin: 30px 0 !important;
          width: 100% !important;

          .commodity-show {
            display: flex;
            justify-content: center;
            canvas {
              width: auto !important;
            }
          }
        }
      }
    }

    #mask-title {
      width: auto !important;
    }
    #right-panel .main-content {
      font-size: 30px !important;
    }

    #checkout {
      width: 100% !important;
      box-sizing: border-box;
      .colname {
        font-size: 20px !important;
      }

      #bottom-panel {
        #total-price {
          font-size: 20px !important;
          font-weight: bold;

          .title {
            line-height: 2.7em !important;
          }
          .price {
            line-height: 2.8em !important;
          }
        }
      }
    }

    #about {
      width: 100% !important;
      box-sizing: border-box;
    }

    #buy-success {
      font-size: 30px !important;
    }
  }
}

@keyframes logoAnime {
  0% {
    transform: translateX(-50%) rotate3d(1, 1, 1, 0deg);
  }

  100% {
    transform: translateX(-50%) rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes bgcItemAnimeRise {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }

  98% {
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0;
  }
}

@keyframes bgcItemAnimeRotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes startAnimeMaskTitle {
  0% {
    margin: 0;
  }

  50% {
    margin: 50px;
  }

  100% {
    margin: 50px;
  }
}

@keyframes startAnimeFade {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes startAnimeLogoBorder {
  0% {
    opacity: 0;
    top: 50%;
  }

  20% {
    opacity: 0;
    top: 50%;
  }

  45% {
    opacity: 1;
    top: 50%;
  }

  50% {
    top: 45%;
  }

  53% {
    top: 45%;
  }

  70% {
    top: 55%;
  }
  100% {
    opacity: 1;
  }
}

@keyframes closeMenuAnime {
  0% {
    height: 100px;
    transform: translateX(0);
  }
  50% {
    height: 0;
    transform: translateX(0);
  }
  100% {
    height: 0;
    transform: translateX(-100%);
  }
}

@keyframes closeMenuAnimeW800 {
  0% {
    height: 300px;
    transform: translateX(0);
  }
  50% {
    height: 0;
    transform: translateX(0);
  }
  100% {
    height: 0;
    transform: translateX(-100%);
  }
}

@keyframes openMenuAnime {
  0% {
    height: 0;
    transform: translateX(-100%);
  }
  50% {
    height: 0;
    transform: translateX(0);
  }
  100% {
    height: 100px;
    transform: translateX(0);
  }
}

@keyframes openMenuAnimeW800 {
  0% {
    height: 0;
    transform: translateX(-100%);
  }
  50% {
    height: 0;
    transform: translateX(0);
  }
  100% {
    height: 300px;
    transform: translateX(0);
  }
}

@keyframes closeMenuMoveLogo {
  0% {
    top: 60px;
  }

  50% {
    top: 85vh;
  }

  100% {
    top: 85vh;
    left: 92vw;
  }
}

@keyframes openMenuMoveLogo {
  0% {
    top: 85vh;
    left: 92vw;
  }

  50% {
    top: 85vh;
  }

  100% {
    top: 60px;
    left: 50%;
  }
}

@keyframes signAnime {
  0% {
    transform: translate(-50%, -50%) rotateZ(45deg);
  }
  50% {
    transform: translate(-50%, 0) rotateZ(45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(45deg);
  }
}

@keyframes buyCommodityAnime {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    color: #ff778c;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes openCheckoutAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes buyDoneAnime {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
  }
}

@keyframes openAboutAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
