* {
  font-family: "Open Sans Condensed", sans-serif, "Microsoft JhengHei";

  ::selection {
    background-color: rgb(68, 186, 216);
    color: #fff;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1920px;
  margin: auto;
  background-color: #ebf4f7;
}

#container {
  position: relative;
  max-width: 1920px;
  min-width: 1600px;
  #header {
    position: relative;
    width: 65%;
    margin: 35px auto;
    height: 400px;
    background: linear-gradient(135deg, #ebf3f7, #ebf4f7);
    box-shadow: 5px 5px 10px #8eabbb, -5px -5px 10px #c3d1d8;
    border-radius: 10px;

    .bgc-wall {
      height: 350px;
      border-radius: 10px;
      background-image: url("https://picsum.photos/800/600?random=1");
      background-size: cover;
    }

    .info-bar {
      height: 50px;
      ul {
        display: flex;
        align-items: center;
        height: 50px;
        margin: 0 0 0 280px;
        padding: 0;
        li {
          list-style: none;
          height: 100%;
          margin: 0 20px;
          padding: 0 10px;
          border-radius: 10px;

          &:hover {
            box-shadow: 0 0 10px #8eabbb, 0 0 10px #c3d1d8;
          }
          
          &:active {
            box-shadow: inset 0 0 10px #8eabbb, inset 0 0 10px #c3d1d8;
          }

          a {
            text-decoration: none;
            color: #8eabbb;
            font-size: 20px;
            font-weight: bold;
            line-height: 2.5em;
          }
        }
      }
    }

    .avatar-block {
      position: absolute;
      bottom: 8%;
      left: 80px;
      display: flex;
      align-items: flex-end;
      .avatar {
        width: 80px;
        height: 80px;
        backdrop-filter: blur(5px);
        border: 2px solid #c3d1d8;
        border-radius: 10px;
        background-image: url("https://picsum.photos/80/80?random=2");
        background-size: cover;
      }

      .user-name {
        padding: 0 10px 5px;
        margin-bottom: 18px;
        height: 25px;
        border-top: 2px solid #c3d1d8;
        border-right: 2px solid #c3d1d8;
        border-radius: 0 10px 0 0;
        font-size: 20px;
        font-weight: bold;
        color: #8eabbb;
        background-color: #ffffffb4;
        backdrop-filter: blur(10px);
      }
    }
  }

  #main {
    width: 65%;
    margin: 0 auto 35px;

    #main-top {
      display: flex;
      .introduction {
        width: 30%;
        height: 300px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px #8eabbb, -5px -5px 10px #c3d1d8;

        .title {
          height: 15%;
          font-size: 26px;
          text-align: center;
          line-height: 1.7em;
          font-weight: bold;
          color: #8eabbb;
        }

        .content {
          height: 85%;
          box-shadow: inset 0 0 10px #8eabbb, inset 0 0 10px #c3d1d8;
          border-radius: 0 0 10px 10px;

          .content-item {
            height: 40px;
            display: flex;
            padding: 10px 0 0 10px;

            .icon {
              .material-icons {
                vertical-align: middle;
                font-size: 40px;
                color: #8eabbb;
                user-select: none;
              }
            }

            .text {
              height: 40px;
              color: #8eabbb;
              font-size: 22px;
              line-height: 1.8em;
              font-weight: bold;
              margin-left: 5px;
            }
          }
        }

        .birthday {
          .text {
            color: #fff;
          }
        }
      }

      .release {
        width: 68%;
        height: 300px;
        margin-left: 2%;
        border-radius: 10px;
        box-shadow: 5px 5px 10px #8eabbb, -5px -5px 10px #c3d1d8;

        .release-middle {
          height: 80%;
          border-radius: 10px 10px 0 0;
          box-shadow: inset 0 0 10px #8eabbb, inset 0 0 10px #c3d1d8;
          padding: 20px;
          box-sizing: border-box;
          #release-textarea {
            width: 100%;
            height: 100%;
            background-color: transparent;
            color: #8eabbb;
            font-size: 20px;
            font-weight: bold;
            resize: none;
            outline: none;
            border: none;

            &::placeholder {
              color: #c4c9cc;
              user-select: none;
            }
          }
        }

        .release-bottom {
          height: 20%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .button-group {

            button {
              width: 30px;
              height: 30px;
              border: none;
              background-color: #fff;
              box-shadow: 0px 0px 5px #acbac2;
              border-radius: 50%;
              margin-right: 10px;
              outline: none;
              cursor: pointer;
              user-select: none;
  
              &:active {
                box-shadow: inset 0px 0px 5px #acbac2;
              }
            }

            .material-icons {
              font-size: 16px;
              color: #8eabbb;
              line-height: 1.5em;
            }
          }
        }
      }
    }

    #main-body {
      height: 400px;
      margin-top: 20px;
      border-radius: 10px;
      box-shadow: 5px 5px 10px #8eabbb, -5px -5px 10px #c3d1d8;

      .timeline {
        height: 100%;
        .timeline-top {
          height: 15%;
          display: flex;
          align-items: center;
          position: relative;
          border-bottom: 1px solid #8eabbb;
          box-sizing: border-box;

          .avatar {
            width: 50px;
            height: 50px;
            backdrop-filter: blur(5px);
            border: 2px solid #c3d1d8;
            border-radius: 50%;
            box-shadow: 0 0 5px #8eabbb;
            background-image: url("https://picsum.photos/80/80?random=2");
            background-size: cover;
            margin-left: 5px;
          }

          .user-name {
            font-size: 24px;
            color: #8eabbb;
            font-weight: bold;
            margin-left: 5px;
          }

          .date {
            position: absolute;
            right: 10px;
            font-size: 20px;
            color: #8eabbb;
            font-weight: bold;
          }
        }

        .timeline-middle {
          height: 75%;
          border-bottom: 1px solid #8eabbb;
          box-shadow: inset 0px 0px 10px #8eabbb, inset 0px 0px 10px #c3d1d8;
          box-sizing: border-box;
          display: flex;
          .content {
            width: 50%;
            font-size: 20px;
            padding: 10px;
            color: #8eabbb;
            font-weight: bold;
          }

          .free-panel {
            width: 50%;
            height: 100%;
            display: flex;
            padding: 10px;
            box-sizing: border-box;
            img {
              width: 50%;
              height: 100%;
              padding: 5px;
              box-sizing: border-box;
            }

            .img-group {
              display: flex;
              flex-direction: column;
              width: 50%;
              height: 100%;
              img {
                width: 100%;
                height: 50%;
                padding: 5px;
                box-sizing: border-box;
              }
            }
          }
        }

        .timeline-bottom {
          position: relative;
          display: flex;
          align-items: center;
          height: 10%;

          button {
            width: 30px;
            height: 30px;
            border: none;
            background-color: #fff;
            box-shadow: 0px 0px 5px #acbac2;
            border-radius: 50%;
            margin-left: 10px;
            outline: none;
            cursor: pointer;
            user-select: none;

            &:active {
              box-shadow: inset 0px 0px 5px #acbac2;
            }
          }

          .material-icons {
            font-size: 16px;
            color: #8eabbb;
            line-height: 1.5em;
          }
        }

        .favorite-content {
          position: absolute;
          right: 0;
          margin-right: 350px;
          font-size: 20px;
          font-weight: bold;
          color: #8eabbb;
        }
      }
    }
  }

  #friends-list {
    position: absolute;
    top: 0;
    right: 0;
    margin: 35px 15px 0 0;
    width: 15%;
    height: 735px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #8eabbb, -5px -5px 10px #c3d1d8;
    .list-top {
      height: 5%;
      font-size: 26px;
      font-weight: bold;
      color: #8eabbb;
      text-align: center;
    }
    .list-middle {
      height: 85%;
      box-shadow: inset 0px 0px 10px #8eabbb, inset 0px 0px 10px #c3d1d8;
      overflow-y: auto;
      .list-group {
        .list-item {
          display: flex;
          align-items: center;
          padding: 10px 0;
          .friend-avatar {
            width: 50px;
            height: 50px;
            margin-left: 20px;
            // border: 2px solid #8ebbb5; //bb8e8e
            // box-shadow: 0 0 10px #8ebbb5;
            border-radius: 50%;
            box-sizing: border-box;
          }

          .friend-name {
            font-size: 20px;
            font-weight: bold;
            color: #8eabbb;
            margin-left: 10px;
            box-sizing: border-box;
          }
        }
      }
    }
    .list-bottom {
      height: 10%;

      .button-group {
        height: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .add-button {
          width: 25px;
          height: 25px;
          border: 0;
          border-radius: 50%;
          background-color: #fff;
          box-shadow: 0px 0px 5px #acbac2;
          margin-right: 10px;
          outline: none;
          cursor: pointer;

          &:active {
            box-shadow: inset 0px 0px 5px #acbac2;
          }

          .material-icons {
            color: #8eabbb;
            font-size: 16px;
            line-height: 1.5em;
            margin-left: -1px;
            user-select: none;
          }
        }
      }

      .search {
        height: 50%;
        display: flex;
        .search-bar {
          padding: 0 0 0 10px;
          width: 80%;
          border-radius: 0 0 0 10px;
          border: none;
          font-size: 20px;
          font-weight: bold;
          color: #8eabbb;
          outline: none;
          background-color: #fff;
          box-shadow: inset 0px 0px 5px #acbac2;

          &::placeholder {
            color: #c4c9cc;
            user-select: none;
          }
        }
        .search-button {
          width: 20%;
          border-radius: 0 10px 10px 0;
          border: none;
          outline: none;

          .material-icons {
            color: #8eabbb;
            user-select: none;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1600px) {
  #container {
    min-width: unset;

    #friends-list {
      display: none;
    }

    #header {
      .info-bar {
        li {
          display: none;
          &:last-child {
            display: block;
          }
        }

        
      }
    }

    #main {
      #main-top{
        .introduction {
          display: none;
        }

        .release {
          width: 100%;
          margin-left: unset;
        }
      }
    }
  }

}

@media screen and (max-width: 1000px) {
  #container {
    #header {
      width: 100%;
    }

    #main {
      width: 100%;

      #main-body {
        .timeline{
          .favorite-content {
            position: relative;
            right: unset;
            margin-right: unset;
            margin-left: 10px;
          }
        }
      }
    }
  }
}